azure-identity
quart
quart-cors
openai>=1.3.7
numpy>=1 # Used by openai embeddings.create to optimize embeddings (but not required)
tiktoken
tenacity
fastapi
azure-ai-documentintelligence
azure-cognitiveservices-speech
azure-search-documents>=11.6.0b1
azure-storage-blob
azure-storage-file-datalake
uvicorn
aiohttp
azure-monitor-opentelemetry
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-openai
msal
cryptography
python-jose[cryptography]
types-python-jose
Pillow
types-Pillow
pypdf
PyMuPDF
beautifulsoup4
types-beautifulsoup4
msgraph-sdk==1.1.0
openai-messages-token-helper
huggingface-hub
promptflow
sentencepiece
transformers

# Evaluation dependencies
azure-ai-generative[evaluate]==1.0.0b3
httpx
matplotlib
openai-messages-token-helper
pandas
promptflow-core
promptflow-evals
pyrit>=0.4.0 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv
requests
rich
typer
preppy
z3c.rml
